body {
    background-color: #363636;
    color: lightgray;
    font-family: 'Comic Sans MS';
}

img {
    padding: 1%;
}

container {
    padding-left: 100px;
    padding-right: 100px;
}

button {
    color: black;
}