body {
    background-color: beige;
    font-family:'Century Gothic';
    margin:3%;
    margin-top:1%;
}

h1{

}
a{
    color:blue;
    padding:5%;
}
.bulletTitle{
    
}

img{
    padding:1%;
}

img.mediapage{
    width:28%;
}