body {
    background-color: beige;
    font-family: 'Century Gothic';
}

h1 {
    padding-top:3%;
}

a {
    color: blue;
    padding: 5%;
    font-weight:bold;
}

.bulletTitle {
}

img {
    padding: 1%;
}

    img.mediapage {
        width: 28%;
    }

.row{
    padding-bottom:3%;
}
