body {
    font-family: "Comic Sans MS";
    color: lightgray;
    background-color: black;
}
h1{
    text-align: center;
}
img.mediapage{
   width: 33%;
}
container {
    padding-top: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
}
button{
    align-items: center;
}